<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/brand.png"></a>
 
</nav>

<div class="wrapper">

  <!-- Sidebar -->
  <nav id="sidebar">
    <div class="sidebar-header">
        <img src="assets/profile.png" alt="" class="rounded-circle">
    </div>

    <ul class="list-unstyled components">
        <p>Mukesh Kumar Radha Krishnan</p>
        <p>COE Specialist - HR Technology </p>
        <p>AP Product Development Centre</p>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">My Information</a>
            <ul class="collapse list-unstyled" id="pageSubmenu">
                <li>
                    <a href="#">Page 1</a>
                </li>
                <li>
                    <a href="#">Page 2</a>
                </li>
                <li>
                    <a href="#">Page 3</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="#">Logout</a>
        </li>
       
    </ul>
</nav>

  <!-- Page Content -->
  <div id="content">
    <div class="card">
      <div class="card-body">
        <h4>Describe Your request to provide support and Resoulution </h4>
        <h6>Attach any supporting documents if required</h6>
        <textarea> </textarea>
        <h6>Attachment: <button><img src="assets/button.png" alt=""></button></h6>
      </div>
    </div>
</div>       